@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Hairline-Italic.eot");
  src: local("Mark-Hairline-Italic"),
    url("fonts/Mark-Hairline-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Hairline-Italic.woff2") format("woff2"),
    url("fonts/Mark-Hairline-Italic.woff") format("woff"),
    url("fonts/Mark-Hairline-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Medium.eot");
  src: local("Mark-Medium"),
    url("fonts/Mark-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Medium.woff2") format("woff2"),
    url("fonts/Mark-Medium.woff") format("woff"),
    url("fonts/Mark-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Black.eot");
  src: local("Mark-Black"),
    url("fonts/Mark-Black.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Black.woff2") format("woff2"),
    url("fonts/Mark-Black.woff") format("woff"),
    url("fonts/Mark-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Regular-Italic.eot");
  src: local("Mark-Regular-Italic"),
    url("fonts/Mark-Regular-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Regular-Italic.woff2") format("woff2"),
    url("fonts/Mark-Regular-Italic.woff") format("woff"),
    url("fonts/Mark-Regular-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Extralight-Italic.eot");
  src: local("Mark-Extralight-Italic"),
    url("fonts/Mark-Extralight-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Extralight-Italic.woff2") format("woff2"),
    url("fonts/Mark-Extralight-Italic.woff") format("woff"),
    url("fonts/Mark-Extralight-Italic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Light.eot");
  src: local("Mark-Light"),
    url("fonts/Mark-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Light.woff2") format("woff2"),
    url("fonts/Mark-Light.woff") format("woff"),
    url("fonts/Mark-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Heavy.eot");
  src: local("Mark-Heavy"),
    url("fonts/Mark-Heavy.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Heavy.woff2") format("woff2"),
    url("fonts/Mark-Heavy.woff") format("woff"),
    url("fonts/Mark-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Bold.eot");
  src: local("Mark-Bold"),
    url("fonts/Mark-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Bold.woff2") format("woff2"),
    url("fonts/Mark-Bold.woff") format("woff"),
    url("fonts/Mark-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Heavy-Italic.eot");
  src: local("Mark-Heavy-Italic"),
    url("fonts/Mark-Heavy-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Heavy-Italic.woff2") format("woff2"),
    url("fonts/Mark-Heavy-Italic.woff") format("woff"),
    url("fonts/Mark-Heavy-Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Black-Italic.eot");
  src: local("Mark-Black-Italic"),
    url("fonts/Mark-Black-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Black-Italic.woff2") format("woff2"),
    url("fonts/Mark-Black-Italic.woff") format("woff"),
    url("fonts/Mark-Black-Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Light-Italic.eot");
  src: local("Mark-Light-Italic"),
    url("fonts/Mark-Light-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Light-Italic.woff2") format("woff2"),
    url("fonts/Mark-Light-Italic.woff") format("woff"),
    url("fonts/Mark-Light-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Thin-Italic.eot");
  src: local("Mark-Thin-Italic"),
    url("fonts/Mark-Thin-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Thin-Italic.woff2") format("woff2"),
    url("fonts/Mark-Thin-Italic.woff") format("woff"),
    url("fonts/Mark-Thin-Italic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Thin.eot");
  src: local("Mark-Thin"),
    url("fonts/Mark-Thin.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Thin.woff2") format("woff2"),
    url("fonts/Mark-Thin.woff") format("woff"),
    url("fonts/Mark-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Extralight.eot");
  src: local("Mark-Extralight"),
    url("fonts/Mark-Extralight.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Extralight.woff2") format("woff2"),
    url("fonts/Mark-Extralight.woff") format("woff"),
    url("fonts/Mark-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-SmallCaps-Black.eot");
  src: local("Mark-SmallCaps-Black"),
    url("fonts/Mark-SmallCaps-Black.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-SmallCaps-Black.woff2") format("woff2"),
    url("fonts/Mark-SmallCaps-Black.woff") format("woff"),
    url("fonts/Mark-SmallCaps-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Book-Italic.eot");
  src: local("Mark-Book-Italic"),
    url("fonts/Mark-Book-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Book-Italic.woff2") format("woff2"),
    url("fonts/Mark-Book-Italic.woff") format("woff"),
    url("fonts/Mark-Book-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-SmallCaps-Regular.eot");
  src: local("Mark-SmallCaps-Regular"),
    url("fonts/Mark-SmallCaps-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-SmallCaps-Regular.woff2") format("woff2"),
    url("fonts/Mark-SmallCaps-Regular.woff") format("woff"),
    url("fonts/Mark-SmallCaps-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Regular.eot");
  src: local("Mark-Regular"),
    url("fonts/Mark-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Regular.woff2") format("woff2"),
    url("fonts/Mark-Regular.woff") format("woff"),
    url("fonts/Mark-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Hairline.eot");
  src: local("Mark-Hairline"),
    url("fonts/Mark-Hairline.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Hairline.woff2") format("woff2"),
    url("fonts/Mark-Hairline.woff") format("woff"),
    url("fonts/Mark-Hairline.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Bold-Italic.eot");
  src: local("Mark-Bold-Italic"),
    url("fonts/Mark-Bold-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Bold-Italic.woff2") format("woff2"),
    url("fonts/Mark-Bold-Italic.woff") format("woff"),
    url("fonts/Mark-Bold-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Medium-Italic.eot");
  src: local("Mark-Medium-Italic"),
    url("fonts/Mark-Medium-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Medium-Italic.woff2") format("woff2"),
    url("fonts/Mark-Medium-Italic.woff") format("woff"),
    url("fonts/Mark-Medium-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Mark", sans-serif;
  src: url("fonts/Mark-Book.eot");
  src: local("Mark-Book"),
    url("fonts/Mark-Book.eot?#iefix") format("embedded-opentype"),
    url("fonts/Mark-Book.woff2") format("woff2"),
    url("fonts/Mark-Book.woff") format("woff"),
    url("fonts/Mark-Book.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
